// Default variables
html {
	--base-font-size: 20px;
}

// Light default theme
// Pallet: https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=004D40&secondary.color=FFAB00&secondary.text.color=000000&primary.text.color=ffffff
body {
 	--bg-color: #ffdd4b;
 	--bg-content-color: #fff;
	--bg-code: #00251a;
	--text-code: rgba(255,255,255,.9);
 	--body-color: rgba(0,0,0,.9);
 	--title-color: rgba(0, 0, 0, 0.8);
 	--link-color: #004d40;
 	--border-color:  rgba(0,0,0,.1);
  --space: 3.5rem;
  --content-width: 860px;
  --header-height: 80px;
  --radius: 5px;
}

// Make  things smaller for mobile
@media screen and (max-width: 650px) {
	html {
		--base-font-size: 17px;
	}
	body {
		--space: 1.5rem;
		--header-height: 60px;
	}
}


// Override variables for Dark theme
body[data-theme="dark"] {
 	--bg-color: #00251a;
 	--bg-content-color: #004d40;
  --bg-code: rgba(0,0,0,.3);
  --text-code: rgba(255,255,255,.9);
 	--border-color:  rgba(255,255,255,.1);
 	--body-color: rgba(255,255,255,.9);
 	--title-color: rgba(255, 255, 255, 0.8);
 	--link-color: #ffab00;
}
